In [ ]:
#chapiterII: Comprendre la statistique descriptive:

In [25]:
import pandas as pd

In [ ]:
#Afficher la version de pandas installée sur notre système

In [4]:
print("la version pandas installée est:", pd.__version__)

la version pandas installée est: 1.5.3

In [6]:
#Chargement des données
maDataFrame=pd.read_csv('Data/ozone.csv')

In [7]:
maDataFrame

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [8]:
maDataFrame.head(5)

   JOUR  O3obs  MOCAGE  TEMPE    RMH2O    NO2     NO STATION  VentMOD  VentANG
0     1     91    93.2   21.5  0.00847  1.602  0.424     Aix   9.5000 -0.64350
1     1    100   104.6   20.2  0.00881  2.121  0.531     Aix   8.0100 -0.04996
2     0     82   103.6   17.4  0.00951  1.657  0.467     Aix   9.3771 -0.12832
3     0     94    94.8   18.8  0.00855  2.350  0.701     Aix   9.4578 -0.34516
4     0    107    99.0   23.7  0.00731  1.653  0.452     Aix   7.8791 -0.41822

In [9]:
maDataFrame.tail(5)

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [10]:
maDataFrame_excel=pd.read_excel('Data/ozone.xlsx')

In [11]:
maDataFrame_excel

,JOUR,O3obs,MOCAGE,TEMPE,RMH2O,NO2,NO,STATION,VentMOD,VentANG
0,1,91,93.2,21.5,0.00847,1.602,0.424,Aix,9.5000,-0.64350
1,1,100,104.6,20.2,0.00881,2.121,0.531,Aix,8.0100,-0.04996
2,0,82,103.6,17.4,0.00951,1.657,0.467,Aix,9.3771,-0.12832
3,0,94,94.8,18.8,0.00855,2.350,0.701,Aix,9.4578,-0.34516
4,0,107,99.0,23.7,0.00731,1.653,0.452,Aix,7.8791,-0.41822
...,...,...,...,...,...,...,...,...,...,...
1036,0,116,233.6,22.1,0.01048,4.843,0.431,Pla,4.8052,-0.20964
1037,0,60,162.5,15.8,0.00789,3.166,0.411,Pla,2.7203,-0.62880
1038,0,74,198.4,16.2,0.00811,8.349,0.942,Pla,4.0311,0.12435
1039,0,121,191.7,16.4,0.00722,2.101,0.199,Pla,3.8000,0.00000
1040,1,93,221.2,16.7,0.00919,2.290,0.202,Pla,2.3022,0.04345

In [ ]:
#Sauvegardées les données dans un fichier CSV en utilisant la méthode to_csv de pandas

In [14]:
maDataFrame_excel_to_csv= maDataFrame_excel.to_csv('Data/output/ozone.csv',index=False)

In [15]:
maDataFrame.columns

Index(['JOUR', 'O3obs', 'MOCAGE', 'TEMPE', 'RMH2O', 'NO2', 'NO', 'STATION',
       'VentMOD', 'VentANG'],
      dtype='object')

In [16]:
maDataFrame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1041 entries, 0 to 1040
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   JOUR     1041 non-null   int64
 1   O3obs    1041 non-null   int64
 2   MOCAGE   1041 non-null   float64
 3   TEMPE    1041 non-null   float64
 4   RMH2O    1041 non-null   float64
 5   NO2      1041 non-null   float64
 6   NO       1041 non-null   float64
 7   STATION  1041 non-null   object
 8   VentMOD  1041 non-null   float64
 9   VentANG  1041 non-null   float64
dtypes: float64(7), int64(2), object(1)
memory usage: 81.5+ KB

In [17]:
maDataFrame['O3obs']

0        91
1       100
2        82
3        94
4       107
       ...
1036    116
1037     60
1038     74
1039    121
1040     93
Name: O3obs, Length: 1041, dtype: int64

In [18]:
#Pour accéder aux données d'une variable nous pouvons utiliser aussi
maDataFrame.O3obs

0        91
1       100
2        82
3        94
4       107
       ...
1036    116
1037     60
1038     74
1039    121
1040     93
Name: O3obs, Length: 1041, dtype: int64

In [22]:
maDataFrame=pd.read_csv('Data/ecoles-creches-idf.csv')

In [23]:
maDataFrame

,ID,nom,departement,ville,CP,type,NO2_2012,NO2_2013,NO2_2014,NO2_2015,...,PM10_2015,PM10_2016,PM10_2017,PM25_2012,PM25_2013,PM25_2014,PM25_2015,PM25_2016,PM25_2017,geometry
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,41.316912,42.916257,40.610102,37.182711,...,23.790138,23.077844,21.782889,17.152857,18.637080,14.895546,15.277787,14.806532,13.549347,"c(2.2908106734441, 48.8421565600018)"
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,63.683878,60.890328,53.322156,45.804898,...,26.063983,23.803116,23.020608,22.692531,23.629341,18.628494,16.978740,15.434943,14.429643,"c(2.40580700033425, 48.8756657433978)"
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,41.507336,41.598420,42.855147,39.286859,...,22.995246,22.400441,20.867075,16.614189,18.142261,14.487745,14.562495,14.134427,12.561472,"c(2.33270615799049, 48.8661396641722)"
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,45.197342,44.280198,45.187931,40.855468,...,23.650961,23.405547,22.650735,17.713481,19.089383,15.433904,15.067306,14.756645,15.118740,"c(2.34734689771536, 48.8668886093452)"
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,40.109546,39.257252,39.688121,37.249166,...,22.808231,22.049934,20.717201,16.332941,17.645253,14.270936,14.391215,13.911639,12.654443,"c(2.36480092620121, 48.8569700986785)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12525,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche,25.491322,25.555634,19.527074,22.299624,...,19.869131,17.863178,18.105259,13.803373,15.691174,12.018149,12.517553,11.253802,11.044208,"c(2.16919587783002, 48.8431345916851)"
12526,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche,25.399896,27.425298,23.977558,24.256471,...,19.867671,18.068191,18.478601,14.512460,15.739200,12.129308,12.516633,11.382960,11.271947,"c(2.16847695611124, 48.8776984436972)"
12527,12194,Les coccinelles,92,Clamart,92140,crèche,28.621819,32.504379,26.327555,26.119244,...,20.140374,19.734444,19.531801,14.818853,16.465304,12.801332,12.712096,12.449960,11.889488,"c(2.26667090146341, 48.8064248969638)"
12528,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche,36.340857,38.690607,37.182478,35.686455,...,22.088143,20.719541,20.285548,16.266794,17.210366,13.599715,13.961720,13.089301,12.218995,"c(2.26211365820375, 48.8873574601706)"
12529,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche,36.048742,38.314610,36.632168,35.563804,...,21.984239,20.541642,20.019353,15.935270,16.991755,13.399608,13.850810,12.945416,12.212256,"c(2.26977404178629, 48.8854199935976)"

In [28]:
maDataFrameMelt=maDataFrame.melt(['ID','nom','departement','ville','CP','type'],['NO2_2012','NO2_2013','NO2_2014','NO2_2015','NO2_2016','NO2_2017','PM10_2012','PM10_2013','PM10_2014','PM10_2015','PM10_2016','PM10_2017','PM25_2012','PM25_2013','PM25_2014','PM25_2015','PM25_2016','PM25_2017'],'Polluant-Année','Valeur')

In [29]:
maDataFrameMelt

,ID,nom,departement,ville,CP,type,Polluant-Année,Valeur
0,0750026W,L'Enseignement par petits groupes (Ecole secon...,75,Paris 15,75015,secondaire,NO2_2012,41.316912
1,0750106H,Ecole technologique privée CCIP Centre des For...,75,Paris 20,75020,secondaire,NO2_2012,63.683878
2,0750132L,Ecole primaire privée Notre-Dame-Saint Roch,75,Paris 01,75001,primaire,NO2_2012,41.507336
3,0750136R,Ecole primaire privée Saint-Sauveur,75,Paris 02,75002,primaire,NO2_2012,45.197342
4,0750138T,Ecole primaire privée Sainte Geneviève du Marais,75,Paris 03,75003,primaire,NO2_2012,40.109546
...,...,...,...,...,...,...,...,...
225535,12192,Les p tits Cressonets,92,Vaucresson,92420,crèche,PM25_2017,11.044208
225536,12193,Les lucioles,92,Rueil-Malmaison,92500,crèche,PM25_2017,11.271947
225537,12194,Les coccinelles,92,Clamart,92140,crèche,PM25_2017,11.889488
225538,12195,Soyer,92,Neuilly-sur-Seine,92200,crèche,PM25_2017,12.218995
225539,12196,Emile Bergerat,92,Neuilly-sur-Seine,92200,crèche,PM25_2017,12.212256